@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --font-style:'Roboto', sans-serif;
    --color-yellow: #fdd900;
    --color-lightYellow: rgba(241,237,175,1);
    --color-black: black
}

*{
    box-sizing: border-box;
    
}

html{
    height: 100%;

}

body {
    background-color: rgb(250, 243, 243);
    font-family: 'Raleway', sans-serif;
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-lightYellow);
  }

img{
    width:5rem;
    margin-left:20px
}

header{
    background-color: #fdd900;
    box-shadow: 5px 5px 5px rgb(186, 184, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0
}
header a {
    margin-right:20px ;
    text-decoration: none;
    color:rgb(96, 93, 93);
    transition: .5s all linear;
}

header a:hover{
   color:black
}

.login-box {
    display: block;
    margin: 3rem auto;
    width:350px;
    padding:25px;
    border: 1px solid #d2d3d9 ;
    background: rgb(253, 252, 252);
    box-shadow: 0 15px 25px rgba(241,237,175,.7);
    border-radius: 10px
}

.login-box h2 {
    text-align: center;
    margin-bottom: 1rem
}

.icon-login{
position: relative;
top:1.3rem;
left:1.3rem;
font-size: 1.5rem;
}

.icon-password{
    position: relative;
top:1.3rem;
left:1.4rem;
font-size: 1.5rem;
}

.login-box .user-box input {
    display: flex;
    margin-left:3.5rem;
    position: relative;
    width:75%;
    font-size: 16px;
    color: #48494c;
    border: none;
    border-bottom: 1px solid var(--color-yellow);
    outline: none;
    background: transparent;
}

.login-box .user-box input:focus{
    box-shadow: 0 3px 10px rgba(241,237,175,.7)
}

.login-box .user-box input::placeholder{
    color: transparent;
}

.login-box .user-box label {
    position: relative;
    left:3.5rem;
    top: -25px;
    padding:1.6rem 0;
    font-size: 1rem;
    color: #48494c;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

  .user-box input:focus:required:invalid{
    border-bottom: 1px solid var(--color-yellow);
  }

  .user-box input:focus + label,
.user-box input:not(:placeholder-shown) + label{
    position: relative;
  font-size: 0.6rem;
  top: -45px;
  color: black;
}



#submit {
    padding: 0.6rem 1.2rem;
    color: #626065;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid var(--color-yellow);
   
}

#submit:hover{
    background: var(--color-yellow);
    color: black;
    border-radius: 5px;
}

.button-form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    margin-top:1.5rem
}

#register{
    font-size: .8rem;
    text-decoration: none;
    color: #626065;
    width:60%;
    text-align:center;
    margin:0;
    padding: 0;
}

#register a {
    
    color: var(--color-yellow);
    font-weight: bolder;
    text-decoration: underline
}

footer {
    margin-top: auto;
  
}

.header-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-yellow);
    color:black;
    width: 100%;
    margin-top: 15rem;
    box-shadow: 2px -4px 15px rgb(198, 195, 195);
}


.logo-footer{
    width:6rem
}

.list-footer{
   display: flex;
   font-size: 3rem;
   list-style: none;
   gap: 2rem;
}
.list-footer li{
    cursor: pointer;
}

.list-footer a{
    text-decoration: none;
    color:black
  }

.footer-information{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    color: white;
    background-color: black;
    font-size: .8rem;
    padding:1rem 0;
    align-items: center;
}
.footer-information div {
    font-weight: bolder;
}

@media screen and (max-width:600px){
    .footer-information{
        display: flex;
        flex-direction: column;
        gap:1rem;
        text-align: center;
        color: white;
        background-color: black;
        font-size: .8rem;
        padding:1rem 0;
        align-items: center;
    }
}

@media screen and (max-width:350px){
    html{
        font-size:70%
    }
    

    .login-box{
        width:90vw
    }

}