@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --color-yellow: #fdd900;
    --color-lightYellow: rgba(241,237,175,1);
}

html {
    font-size: 62.5%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(37, 36, 36);
    font-family: "Raleway", sans-serif;
    width: 100%;
    height:100%;
    background-color: rgb(250, 243, 243);
}

header {
    background-color: #fdd900;
    box-shadow: 5px 5px 5px rgb(186, 184, 184);
    width: 100%;
    padding:1.6rem 0
}

img{
    width:8rem;
    margin-left:20px
}


section h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2.7rem 0 2rem;
}

.container-registration {
    top:20vh;
    margin: 5rem auto 20rem;
    background-color: white;
    width: 55rem;
    border: 1px solid #d2d3d9;
    box-shadow: 0 15px 25px rgba(241,237,175,.7);
    border-radius: 10px
}

.container-registration input {
    padding: 1.3rem 0;
    outline: none;
    max-width: 40.4rem;
    font-size: 1.5rem;
    border:none;
    border-bottom: 1px solid var(--color-yellow);
    border-radius: 3px;
    padding-left: .6rem;
}

.container-inputs input:focus {
    box-shadow: 0 4px 7px -2px rgba(241,237,175,.7)
}

.container-inputs {
    display: grid;
    grid-template-areas:
        'nome cpf'
        'data telefone'
        'email email'
        'senha confirmar'
        'cep cep'
        'rua numero'
        'complemento bairro'
        'cidade estado';
    column-gap: 2rem;
    row-gap: 1rem;
    justify-content: center;
}

#data{
    width:18.3rem
}

.nome {
    grid-area: nome;
}

.cpf {
    grid-area: cpf;
}

.data {
    grid-area: data;
}

.tel {
    grid-area: telefone;
}

.email {
    grid-area: email;
  
}

.password {
    grid-area: senha;
}

.confirm {
    grid-area: confirmar;
}

.cep {
    grid-area: cep;
  
}

.rua {
    grid-area: rua;
}

.numero {
    grid-area: numero;
}

.complemento {
    grid-area: complemento;
}

.bairro {
    grid-area: bairro;
}

.cidade {
    grid-area: cidade;
}

.estado {
    grid-area: estado;
}

#email {
    width: 200rem
}

#cep {
    width: 45rem
}


button {
    display: block;
    width: 41rem;
    background-color: white;
    padding: 1.5rem 0;
    font-size: 2rem;
    margin: 3rem auto 3rem 6.7rem;
    color: #48494c;
    border: 2px solid var(--color-yellow);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s linear
}

button:hover {
    background-color: var(--color-yellow);
}

footer {
    background-color:var(--color-yellow);
    padding: 2.5rem 0;
    border-top: rgb(248, 240, 240) 2px solid;
    width: 100%;
}

footer div {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

p{
    margin:0;
    font-size: 1.1rem;
    color:red;
    font-weight: 700;
    text-align: left;
    width:20rem
}

.validation:disabled{
    background-color:rgb(232, 222, 222);
}

.resultForm{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    padding:2rem 0;
    margin-bottom: 3rem;
    color:rgb(209, 247, 209)
}

.error{
    transition: all 0.3s linear;
    background-color: rgb(245, 194, 194);
    color:red
}

.positive{
transition: all 0.3s linear;
   color: green;
   background-color: rgb(209, 247, 209);
}

@media screen and (max-width:570px){
    .container-inputs {
        display: grid;
        grid-template-areas:
            'nome nome'
            'cpf cpf'
            'data data'
            'telefone telefone'
            'email email'
            'senha senha'
            'confirmar confirmar'
            'cep cep'
            'rua rua'
            'numero numero'
            'complemento complemento'
            'bairro bairro'
            'cidade cidade'
            'estado estado';
        column-gap: 2rem;
        row-gap: 1rem;
        justify-content: center;
    }

    .container-registration{
        width: 97vw;
        padding-bottom: 5rem;
    }

    .container-registration input{
        display: block;
        max-width:70vw;
        margin: 0 auto
    }

    #data{
        width:100vw
    }

    input{
        width:100%
    }
    
    button{
        margin: 3rem auto 3rem auto;
        max-width:71.5vw
    }
    
    p{
        width:50vw
    }
    
}
