@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --color-yellow: #fdd900;
    --color-lightYellow: rgba(241,237,175,1);
    --color-black: black
}

html {
    font-size: 62.5%;
    height: 100%;
  
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    z-index: 1;
    background-color: rgb(250, 243, 243);
    transition: all 0.3s linear;
    
}

.addOverflow{
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-lightYellow);
  }

  
  
  /* Handle on hover */
 
/*---------------------------------------------------------------------*/
/*----------------------------START COUNTDOWN--------------------------*/
/*---------------------------------------------------------------------*/


/*CLOSED BUTTON*/
.closed {
    color:white;
    position: relative;
    left:32rem;
    font-size: 2.5rem;
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: var(--color-black) solid 2px;
    cursor: pointer;
    width: 2rem;
    text-align: center;
    position: relative;
    z-index:1
}

/* CONTENT */


.container-one {
    position:fixed;
    bottom:-50rem;
    z-index: 10;
    padding: 2rem;
    max-width:37rem;
    background-color: white;
    transition: all 1s linear;
    border-radius: 6px 6px 0 0;
    box-shadow: 5px 5px 5px rgb(186, 184, 184);
    margin-left:2rem
}

.price{
    font-size: 1.5rem;
    font-weight: bolder;
}

.container-one img {
    display: block;
    max-width: 80px;
    margin: 1rem auto
}

.container-two{
    text-align: center;
}

.container-two h1{
    background-color: rgb(77, 229, 77);
    color:white;
    width:12rem;
    padding: .5rem 0 ;
    margin: 0 auto;
    border-radius: 6px
}

.flex-countdown{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 4px;
   
}

.flex-countdown .circle{
    position: relative;
    width:80px;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items:center
}

.flex-countdown .circle svg{
position: relative;
width:80px;
height: 80px;
transform: rotate(270deg);

}

.flex-countdown .circle svg circle{
    width:100%;
    height:100%;
    fill: transparent;
    stroke: #7f7c7c;
    stroke-width: 4;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 5px rgb(186, 184, 184)
  
    }
    
    .flex-countdown .circle svg circle:nth-child(2){
        stroke: var(--color-yellow);
        stroke-dasharray: 220;
       
        }

        .flex-countdown div{
            position: absolute;
            text-align:center;
            font-weight: 500;
            font-size: 1.2rem;
            color:white
        }
        .flex-countdown h3{
            margin:0
        }

.text{
    font-size:1.2rem;
    
}

/*DESCRIPTION*/



/*----------------------------COUNTDOWN END--------------------------*/


/*------------------------------------------------------------------*/
/*----------------------------START NAVBAR--------------------------*/
/*------------------------------------------------------------------*/

.nav-header {
    position: absolute;
    color: black;
    margin-top: -1rem;
    width: 100%;
    background-color: var(--color-yellow);
    color: white;
    transition: all 0.3s linear;
    box-shadow: 5px 5px 5px rgb(186, 184, 184)
}

.logo {
    padding-left: 5rem;
    width: 8rem
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
    
}

.link-flex {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap:.2rem;
    margin-right: 5rem;
    align-items: center;
}

.link-flex a {
    color: black;
    font-size: 2.2rem;
    transition: all 0.3s linear
}

.link-flex a:hover {
    color: rgb(92, 84, 84);
}

.login {
    font-size:2rem;
}

.button {
    background-color: var(--color-yellow);
    color: black;
    border: none;
    font-size: 2.2rem;
    display: none;
    transition: all 0.3s linear
}

.search {
    padding: .6rem 0;
    border-radius: 4px;
    max-width:30rem;
    background-color: white;
    border: none;
    outline: none;
}

.flex-search {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: .7rem;
    color: black;
    top:.1rem;
    margin-bottom:0.5rem;
}

.flex-navbar-two {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1.5rem;
    background-color: var(--color-lightYellow);
    color: rgb(37, 36, 36);
 
    height: 5rem;
}

.flex-navbar-two p {
    font-size: 1.7rem;
    font-weight: bolder;
}

.flex-literatura {
    display: flex;
    list-style-type: none;
    gap: 5rem;
    background-color: var(--color-lightYellow);
    font-size: 2rem;
    cursor: pointer;
    margin: 0 auto;
}

.flex-literatura li:after{
    display: block;
    padding-bottom: 2px;
    content: '';
    border-bottom: solid 2px rgb(139, 135, 135);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.flex-literatura li:hover:after {
    transform: scaleX(1)
}


.flex-literatura a {
    text-decoration: none;
    color: rgb(76, 75, 75);
    transition: all 0.3s linear;
}

.flex-literatura a:hover {
    color: black;

}

.lupa-flex {
    display: none;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
}

.fa-magnifying-glass {
    cursor: pointer;
}

.cartAmount{
    position: relative;
    left: 1.3rem;
    cursor: pointer;
}

.cartAmountResponsive {
    font-size: 0px;
    display: none
}

#numberCart {
    font-family: "roboto", sans-serif;
    position: relative;
    bottom:2rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    padding: 4px 4px;
    width:1.5rem;
}

#numberCartResponsive{
    display: none;
}

/*------------------------------------------------------------------*/
/*----------------------------START MAIN----------------------------*/
/*------------------------------------------------------------------*/


.flex-container-books {
    margin: 17rem auto 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: center;
    row-gap: 3rem;
    column-gap: 1rem;
    width: 97%
}

.flex-book {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 45rem;
    align-items: center;
    text-align: start;
    box-shadow: 3px 3px 3px rgb(234, 231, 231);
    border-radius: 4px;
    background-color: white;
    transition: all 0.3s linear;
}

.flex-book:hover{
    box-shadow: 8px 8px 8px rgb(234, 231, 231);
}

.flex-content-promotion-book {
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 5rem 3rem 3rem 3rem 1.6rem;
    font-size: 1.3rem;
    color: rgb(76, 75, 75)
}

.flex-content-book {
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 8rem 3rem 5rem 5rem 5rem;
    font-size: 1.3rem;
    color: rgb(76, 75, 75)
}

.promotion {
    background-color: rgb(77, 229, 77);
    color: white;
    text-align: center;
}


.flex-book p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book span {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

#book-promotion {
    width: 20.1rem
}

#book-promotion p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book button {
    width: 15rem;
    height: 3rem;
    border: 2px solid var(--color-yellow);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--color-yellow);
    color: rgb(58, 58, 58);
    transition: all 0.3s linear;
    font-size: 1.3rem
}

.flex-book button:hover{
    background-color: white;
}


#old-price {
    font-size: 1.3rem;
    color: rgb(76, 75, 75);
    text-decoration: line-through;
}


.flex-book img {
    width: 15rem;
    height: 20rem;
    background-color: rgb(250, 249, 248);
    padding: 0 2.5rem
}





/*------------------------------------------------------------------*/
/*-------------------------------ASIDE------------------------------*/
/*------------------------------------------------------------------*/

.flex-cart-closed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:8rem;
    background-color:var(--color-yellow);
    color:black;
    box-shadow: 4px 4px 4px rgb(186, 184, 184)
}

.bookIcon{
    color:black;
    font-size: 3rem;
    margin-left:1rem;
}

.flex-cart-closed div {
    font-size: 2.5rem;
    cursor: pointer;
    
}

.flex-cart-closed h1{
   font-weight: bold;
   width: 12rem;
   color: black
}

.container-books-cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    color: rgb(248, 240, 240);
    width:0;
    height: 100%;
    font-size: 1.4rem;
    overflow-y: scroll;
    font-weight: bolder;
    transition: all 0.3s linear;
    box-shadow: 10px 10px 10px 10px rgb(186, 184, 184)
    
}

.container-all-sections{
    overflow-y: scroll;
    max-height:35rem
}


.container-books-cart::-webkit-scrollbar {
    width: 0px;
  }


.container-books-cart input {
    width: 3rem;
    height: 1rem
}

.container-books-cart img {
    width: 4rem;
    box-shadow: 2px 2px 2px rgb(206, 203, 203)
}


.style-books-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(211, 209, 209);
    padding: 1rem 0;
    width: 98%;
    color: black;
    gap:1rem;
    margin-left:5px
}

.flex-center-content-books-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem
}

.flex-center-content-books-cart span:nth-child(2) {
    font-weight: normal;
    font-size: 1.5rem;
}

.delete {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.totalValue{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:0;
    width:100%;
    margin-top:3rem;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    padding: 2rem 0;
    color:black;
    box-shadow: 3px -2px 2px rgb(227, 224, 224);
}
.totalValue div{
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  gap:1rem
}



.totalValue span{
    text-align: center;
    font-size: 2.2rem;
    margin-right:10px
}

.button-purchase{
    display: block;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 1.5rem 2rem;
    border-radius: .3rem;
    border: none;
    font-weight: bolder;
    background-color: var(--color-yellow);
    color:black;
    cursor: pointer;
    transition: all 0.3s linear;
    border:  white 2px solid;
}

.button-purchase:hover{
    color:black;
    background-color: white;
    border: var(--color-yellow) 2px solid;
}


/*------------------------------------------------------------------*/
/*-------------------------------FOOTER-----------------------------*/
/*------------------------------------------------------------------*/

footer {
    margin-top: auto;
}

.header-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-yellow);
    color:black;
    width: 100%;
    margin-top:10rem;
    box-shadow: 2px -4px 15px rgb(198, 195, 195);
}

.logo-footer{
    width:10rem
}

.list-footer{
   display: flex;
   font-size: 5rem;
   list-style: none;
   gap: 3rem;
}

.list-footer a{
  text-decoration: none;
  color:black
}

.list-footer li{
    cursor: pointer;
}

.footer-information{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    color: white;
    background-color: black;
    font-size: 1.3rem;
    padding:2rem 0;
    align-items: center;
}
.footer-information div {
    font-weight: bolder;
}



/*MEDIA QUERY*/


@media(min-width: 1600px) {
    html {
        font-size: 75%
    }
}




@media screen and (max-width:1000px) {
    html {
        font-size: 55%
    }   
}



@media screen and (max-width:800px) {
    html {
        font-size: 70%
    }

    body{
        overflow: scroll;
    }

    .cartAmount {
        display: none;
    }

    .cartAmountResponsive {
        position: relative;
        left:1rem;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    #numberCartResponsive {
        display: flex;
        position: relative;
        font-size: 1.2rem;
        background-color: black;
        color: white;
        border-radius: 50%;
        font-weight: bolder;
        justify-content: center;
        width: 2rem;
        bottom:1.2rem;
        padding:0.3rem 0;
        font-family: 'Roboto',sans-serif;
    }

    #numberCart {
        display: none
    }


    #description {
        display: none;
    }

    .text {
        font-size: 0.8rem
    }

    .closed {
        display:none
    }

    .container-one {
        display:none
    }

    .transparent{
        display: none;
    }

    .container-two {
        width: 22rem;
        text-align: center;
    }

    .container-two h1 {
        font-size: 1.2rem;
    }

    .container-two h2 {
        font-size: 1rem;
    }

    .price {
        font-size: 1.3rem;
    }

    .flex-countdown {
        display: flex;
        gap: 1.5rem !important;
        background-color: rgb(37, 36, 36) !important;
    }

    .flex-countdown h3 {
        font-size: 1.2rem;
    }

    .flex-countdown span {
        font-size: 1rem;
    }

    .image-book {
        width: 5rem;
        height: 7rem;
    }

    .container-two {
        margin-bottom: 2rem;
        margin-top: -3rem
    }

    .lupa-flex {
        position: relative;
        top:10rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2rem;
        gap: 1px;
        width:80%;
        margin:0 auto;
     
      
    }

    .fa-magnifying-glass {
        margin-left: 0.5rem;
        color: black;
        margin-top: 1rem;
    }

    .lupa {
        width: 90vw;
        padding: 0.5rem 0;
        background-color: white;
        border-radius: 4px;
        justify-content: center;
        border: none;
        outline: none;
        margin-top: 1rem;
    }

    .logo {
      
        width: 7rem;
        margin-left: -5rem;

    }

    .flex-navbar-two {
        overflow: hidden;
        height: 0px;
        justify-content: flex-start;
        transition: all 0.3s linear;
        
    }

    .expand {
        background-color: rgb(56, 55, 55);
        height: 14rem;
    }

    .flex-literatura {
        display: flex;
        background-color: rgb(250, 243, 243);
        flex-direction: column;
        gap: 1.2rem;
        width:100%;
        color: #4c4b4b;
        
    }
    .flex-literatura li{
        cursor: pointer;
    }
    
    .flex-literatura li:after{
        border: none
    }

    .flex-literatura a {
        font-weight: bolder;
        font-size: 1.7rem;
        width:100%;
        border:none;
        
      
    }

    .flex-literatura a:hover {
        color:black;
        font-weight: bolder;
    }

    .header-center {
        display: flex;
        margin:3rem auto;
        width: 81vw;
        align-items: center;
        
    }

    .button {
        display: flex;
        cursor: pointer;
    }


    .flex-search {
        display: none;
    }

    .link-flex {
        display: flex;
        width: 80vw;
        align-items: center;

    }

    .nav-header {
        padding-bottom: .5rem;
    }

    .flex-container-books {
        row-gap: 1rem;
        grid-template-columns: repeat(1, 4rem);
        justify-content: flex-start;
        border: none;
        width: 100%;
    }

    .flex-book {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95vw;
        height: 15.5rem;
        gap: 1rem;
       
    }

    .flex-content-book {
        display: grid;
        justify-content: center;
        grid-template-rows: 4rem 4rem
    }

    .flex-book img {
        width: 5rem;
        height: 8rem;
        background-color: rgb(250, 249, 248);
        padding: 0 1.5rem;
    }

    .flex-book p:nth-child(2) {
        display: none;
    }

    .flex-book p:nth-child(3) {
        display: none;
    }

    .flex-content-promotion-book {
        display: grid;
        grid-template-rows: 5rem 1rem 1rem;
        margin-top: -1rem
    }

    #book-promotion {
        width: 95vw;
    }

    #book-promotion p:nth-child(2) {
        display: block;
        margin-top: -1rem;
    }

    #book-promotion p:nth-child(3) {
        display: none;
    }

    #book-promotion p:nth-child(4) {
        display: none;
    }

    .footer-information{
        display: flex;
        flex-direction: column;
        gap:3rem;
        text-align: center;
        color: white;
        background-color: black;
        font-size: 1.3rem;
        padding:2rem 0;
        align-items: center;
    }

    .list-footer{
        font-size: 4rem;
        gap: 3rem;
     }
}

@media screen and (max-width:350px) {
    html {
        font-size: 50%
    }

}
