@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(217, 209, 209);
    font-family: "Roboto", sans-serif;
    width: 100%;
    background-color: rgb(37, 36, 36, 0.1);
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s linear
}

/*---------------------------------------------------------------------*/
/*----------------------------START COUNTDOWN--------------------------*/
/*---------------------------------------------------------------------*/


/*CLOSED BUTTON*/
.closed {
    top: -33rem;
    left: 41rem;
    font-size: 2.5rem;
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: rgb(217, 209, 209) solid 2px;
    cursor: pointer;
    width: 2rem;
    text-align: center;
    position: relative;
}

/* CONTENT */
.container-one {
    display: flex;
    align-items: center;
    top:20%;
    height: 31rem;
    width: 55rem;
    gap: 3rem;
    border: 3px solid rgb(217, 209, 209);
    padding: 1rem 2rem;
    background-color: rgb(37, 36, 36);
    border-radius: 4px;
    z-index: 10;
    position: absolute;
}

.center-promotion {
    display: flex;
    justify-content: center;
}

.transparent {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #1b1b32;
    background-size: cover;
    background-position: center;
    opacity:.4
}


/*DESCRIPTION*/

.image-book {
    width: 10rem;

}

.container-two {
    margin-top: 2rem;
}

.container-two h1 {
    font-size: 1.8rem;
    font-weight: border;
    color: white;

}

.container-two h2 {
    font-size: 1.4rem;
    font-weight: border;
    color: white;
}

.text {
    font-size: 1.35rem
}

.text span {
    font-weight: bolder;
    color: white
}

.price {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: white
}

/*COUNTDOWN*/
.flex-countdown {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    color: white;

}

.flex-countdown div {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.flex-countdown div h3 {
    margin-bottom: -0.1rem;
    text-align: center;
}

.flex-countdown div span {
    margin-left: -0.2rem;
    text-align: center;
    align-items: center;
}

/*----------------------------COUNTDOWN END--------------------------*/


/*------------------------------------------------------------------*/
/*----------------------------START NAVBAR--------------------------*/
/*------------------------------------------------------------------*/

.nav-header {
    position: absolute;
    color: black;
    margin-top: -1rem;
    width: 100%;
    background-color: rgb(37, 36, 36);
    color: white;
    border-bottom: 3px solid rgb(37, 36, 36);
    transition: all 0.3s linear
}

.logo {
    padding-left: 5rem;
    width: 10rem
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    position: relative;
}

.link-flex {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap:.2rem;
    margin-right: 5rem;
    align-items: center;
}

.link-flex a {
    color: rgb(217, 209, 209);
    font-size: 2.2rem;
    transition: all 0.3s linear
}

.link-flex a:hover {
    color: white;
}

.login {
    font-size:2rem;
}

.button {
    background-color: rgb(37, 36, 36);
    color: rgb(217, 209, 209);
    border: none;
    font-size: 2.2rem;
    display: none;
    transition: all 0.3s linear
}

.search {
    padding: .6rem 0;
    border-radius: 4px;
    max-width:30rem;
    background-color: rgb(217, 209, 209);
   
}

.flex-search {
    display: flex;

    align-items: center;
    font-size: 2.5rem;
    gap: .7rem;
    color: rgb(217, 209, 209);
    top:.1rem;
    margin-bottom:0.5rem;
}

.flex-navbar-two {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1.5rem;
    background-color: rgb(217, 209, 209);
    color: rgb(37, 36, 36);
    justify-content: center;
    height: 5rem;

}

.flex-navbar-two p {
    font-size: 1.7rem;
    font-weight: bolder;
}

.flex-literatura {
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-size: 2rem;
    cursor: pointer;
}

.flex-literatura a {
    text-decoration: none;
    color: rgb(76, 75, 75);
    transition: all 0.3s linear;
}

.flex-literatura a:hover {
    color: black;

}

.lupa-flex {
    display: none;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
 
}

.fa-magnifying-glass {
    cursor: pointer;
}

.cartAmount{
    position: relative;
    left: 1.3rem;
    cursor: pointer;
}

.cartAmountResponsive {
    font-size: 0px;
    display: none
}

#numberCart {
    position: relative;
    bottom:2rem;
    font-size: 1.2rem;
    background-color: rgb(217, 209, 209);
    color: rgb(62, 60, 60);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    padding: 4px 4px;
    width:1.5rem;
    border: rgb(76, 75, 75) solid 1px;
}

#numberCartResponsive{
    display: none;
}

/*------------------------------------------------------------------*/
/*----------------------------START MAIN----------------------------*/
/*------------------------------------------------------------------*/

main{
    min-height: 200rem
}

.flex-container-books {
    margin: 17rem auto 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: center;
    row-gap: 3rem;
    column-gap: 1rem;
    width: 97%
}

.flex-book {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 45rem;
    align-items: center;
    text-align: start;
    border: rgb(76, 75, 75, 0.1) solid 1px;
}

.flex-content-promotion-book {
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 5rem 3rem 3rem 3rem 1.6rem;
    font-size: 1.3rem;
    color: rgb(76, 75, 75)
}

.flex-content-book {
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 8rem 3rem 5rem 5rem 5rem;
    font-size: 1.3rem;
    color: rgb(76, 75, 75)
}

.promotion {
    background: green;
    color: white;
    text-align: center;
}


.flex-book p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book span {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

#book-promotion {
    width: 20.1rem
}

#book-promotion p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book button {
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    background-color: rgb(76, 75, 75);
    color: white;
    transition: all 0.3s linear;
    font-size: 1.3rem
}

.flex-book button:hover{
    background-color: rgb(121, 115, 115);
}


#old-price {
    font-size: 1.3rem;
    color: rgb(76, 75, 75);
    text-decoration: line-through;
}


.flex-book img {
    width: 15rem;
    height: 20rem;
    background-color: rgb(250, 249, 248);
    padding: 0 2.5rem
}





/*------------------------------------------------------------------*/
/*-------------------------------ASIDE------------------------------*/
/*------------------------------------------------------------------*/

.flex-cart-closed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:8rem

}

.bookIcon{
    color:white;
    font-size: 3rem;
    margin-left:1rem;
}

.flex-cart-closed div {
    font-size: 2.5rem;
    cursor: pointer;
    
}

.flex-cart-closed h1{
   font-weight: bold;
   width: 12rem;
   color: white
}

.container-books-cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(76, 75, 75);
    color: rgb(248, 240, 240);
    height: 100%;
    width: 0;
    font-size: 1.4rem;
    font-weight: bolder;
    overflow-y: scroll;
    transition: all 0.3s linear;
    border-left: rgb(243, 237, 237) 4px solid;
    
}

.container-books-cart input {
    width: 3rem;
    height: 1rem
}

.container-books-cart img {
    width: 4rem
}


.style-books-cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 1rem 0;
    width: 100%;
    color: white;
    gap:1rem;
    background-color: rgb(97, 94, 94);
}

.flex-center-content-books-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem
}

.flex-center-content-books-cart span:nth-child(2) {
    font-weight: normal;
    font-size: 1.5rem;
}

.delete {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.totalValue{
    display: flex;
    margin-top:3rem;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(101, 101, 97);
    padding: 2rem 0;
    
    color:rgb(238, 228, 228)
}
.totalValue div{
   margin-left:10px
}

.totalValue span{
    font-size: 2.2rem;
    margin-right:10px
}

.button-purchase{
    display: block;
    font-size: 1.5rem;
    margin: 20px auto;
    padding: 1.5rem 2rem;
    border-radius: .3rem;
    border: none;
    font-weight: bolder;
    background-color: rgb(238, 228, 228);
    color:rgb(81, 81, 78);
    cursor: pointer;
    transition: all 0.3s linear;
    border: black solid 2px;
}

.button-purchase:hover{
    color:black;
    background-color: white;
}


/*------------------------------------------------------------------*/
/*-------------------------------FOOTER-----------------------------*/
/*------------------------------------------------------------------*/

footer {
   position: relative;
   background-color: rgb(37, 36, 36);
   padding: 2.5rem 0;
   border-top:rgb(248, 240, 240) 2px solid;
   bottom:0;
   width: 100%
}

footer p {
   color: rgb(248, 240, 240);
   text-align: center;
   font-size: 2rem;
   font-weight: bolder;
}


/*MEDIA QUERY*/


@media(min-width: 1600px) {
    html {
        font-size: 75%
    }
}




@media screen and (max-width:1000px) {
    html {
        font-size: 55%
    }   
}



@media screen and (max-width:750px) {
    html {
        font-size: 70%
    }

    body{
        overflow: scroll;
    }

    .cartAmount {
        display: none;
    }

    .cartAmountResponsive {
        position: relative;
        left:1rem;
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    #numberCartResponsive {
        display: flex;
        position: relative;
        font-size: 1.2rem;
        background-color: rgb(217, 209, 209);
        color: rgb(62, 60, 60);
        border-radius: 50%;
        font-weight: bolder;
        justify-content: center;
        width: 2rem;
        bottom:1.2rem;
        padding:0.3rem 0;
        border: rgb(76, 75, 75) solid 1px;
    }

    #numberCart {
        display: none
    }


    #description {
        display: none;
    }

    .text {
        font-size: 0.8rem
    }

    .closed {
        display:none
    }

    .container-one {
        display:none
    }

    .transparent{
        display: none;
    }

    .container-two {
        width: 22rem;
        text-align: center;
    }

    .container-two h1 {
        font-size: 1.2rem;
    }

    .container-two h2 {
        font-size: 1rem;
    }

    .price {
        font-size: 1.3rem;
    }

    .flex-countdown {
        display: flex;
        gap: 1.5rem !important;
        background-color: rgb(37, 36, 36) !important;
    }

    .flex-countdown h3 {
        font-size: 1.2rem;
    }

    .flex-countdown span {
        font-size: 1rem;
    }

    .image-book {
        width: 5rem;
        height: 7rem;
    }

    .container-two {
        margin-bottom: 2rem;
        margin-top: -3rem
    }

    .lupa-flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2rem;
        gap: 1px;
        width:80%;
        margin:0 auto;
        margin-top: 3rem;
      
    }

    .fa-magnifying-glass {
        margin-left: 0.5rem;
        color: rgb(217, 209, 209);
    }

    .lupa {
        width: 90vw;
        padding: 0.5rem 0;
        background-color: rgb(217, 209, 209);
        border-radius: 4px;
        justify-content: center;
    }

    .logo {
        margin-top: -1rem;
        width: 7rem;
        margin-left: -5rem;

    }

    .flex-navbar-two {
        overflow: hidden;
        height: 0px;
        justify-content: flex-start;
        transition: all 0.3s linear;
        
    }



    .expand {
        background-color: rgb(56, 55, 55);
        height: 14rem;
    }

    .flex-literatura {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        width:100%
    }
    

    .flex-literatura a {
        font-weight: bolder;
        font-size: 1.7rem;
        width:100%;
        color:rgb(215, 201, 201)
    }

    .flex-literatura a:hover {
        color:rgb(255, 255, 255);
        font-weight: bolder;
    }

    .header-center {
        display: flex;
        margin:0 auto;
        width: 81%;
        padding-bottom: 1rem;
        align-items: center;
        height: 4rem;
    }

    .button {
        display: flex;
        cursor: pointer;
    }


    .flex-search {
        display: none;
    }

    .link-flex {
        display: flex;
        width: 80vw;
        align-items: center;

    }

    .nav-header {
        padding-bottom: 1rem;
    }

    .flex-container-books {
        row-gap: 1rem;
        grid-template-columns: repeat(1, 4rem);
        justify-content: flex-start;
        border: none;
        width: 100%;
    }

    .flex-book {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95vw;
        height: 15.5rem;
        gap: 1rem;
        border: rgb(76, 75, 75, 0.1) 1px solid
    }

    .flex-content-book {
        display: grid;
        justify-content: center;
        grid-template-rows: 4rem 4rem
    }

    .flex-book img {
        width: 5rem;
        height: 8rem;
        background-color: rgb(250, 249, 248);
        padding: 0 1.5rem
    }

    .flex-book p:nth-child(2) {
        display: none;
    }

    .flex-book p:nth-child(3) {
        display: none;
    }

    .flex-content-promotion-book {
        display: grid;
        grid-template-rows: 5rem 1rem 1rem;
        margin-top: -1rem
    }

    #book-promotion {
        border: 1px solid black;
        width: 94vw;
    }

    #book-promotion p:nth-child(2) {
        display: block;
        margin-top: -1rem;
    }

    #book-promotion p:nth-child(3) {
        display: none;
    }

    #book-promotion p:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width:300px) {
    html {
        font-size: 60%
    }

}
