@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(217, 209, 209);
    font-family: "Roboto", sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(37, 36, 36, 0.1);
    z-index: 1;
    overflow: hidden
}

.closed {
    position: relative;
    top: -38rem;
    left: 55rem;
    font-size: 3rem;
    background-color:black;
    padding: 0.5rem 1.5rem;
    border-radius: 50%;
    border: rgb(217, 209, 209) solid 2px;
    cursor: pointer;
    width: 2rem;
}

@media screen and (max-width:551px){
    .closed{
    position: relative;
    top: -62rem;
    left: 29rem;
    font-size: 3rem;
    background-color:black;
    padding: 0.5rem 1.5rem;
    border-radius: 50%;
    border: rgb(217, 209, 209) solid 2px;
    cursor: pointer;
    width: 2rem;
    }

}

/*---------------------------------------------------------------------*/
/*----------------------------START COUNTDOWN--------------------------*/
/*---------------------------------------------------------------------*/


/*CLOSED BUTTON*/
.closed {
    top: -31rem;
    left: 41rem;
    font-size: 2.5rem;
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: rgb(217, 209, 209) solid 2px;
    cursor: pointer;
    width: 2rem;
    text-align: center;
}

@media screen and (max-width:650px) {
    .closed {
        position: relative;
        top: -50rem;
        left: 19rem;
        font-size: 3rem;
        background-color: black;
        padding: 0.5rem 1.5rem;
        border-radius: 50%;
        border: rgb(217, 209, 209) solid 2px;
        cursor: pointer;
        width: 2rem;
    }
}

/* CONTENT */
.container-one {
    display: flex;
    align-items: center;
    top: 20%;
    height: 29rem;
    width: 55rem;
    gap: 3rem;
    border: 3px solid rgb(217, 209, 209);
    padding: 1rem 2rem;
    background-color: rgb(37, 36, 36);
    border-radius: 4px;
    z-index: 10;
    position:fixed
} 

.center-promotion{
    display: flex;
    justify-content: center;
}

.transparent {
    background-color: black;
    position: absolute;
    height: 100%;
    width:100%;
    opacity: 0.5;
    background-size: cover;
    z-index: 2
}

@media screen and (max-width:650px) {
    .container-one {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20.5rem;
        height: 48rem;
    }

    .container-two {
        width: 22rem;
        margin-bottom: 10rem;
        text-align: center;
    }

    .flex-countdown {
        display: flex;
        gap: 1.5rem !important;
        background-color: rgb(37, 36, 36) !important;
    }

}


/*DESCRIPTION*/

.image-book {
    width: 10rem;

}

@media screen and (max-width:650px) {
    .image-book {
        width: 8rem;
        height: 12rem;
    }
}

.container-two {
    margin-top: 2rem;
}

@media screen and (max-width:650px) {
    .container-two {
        margin-bottom: 2rem;
        margin-top: -3rem
    }
}

.container-two h1 {
    font-size: 1.8rem;
    font-weight: border;
    color: white;

}

.container-two h2 {
    font-size: 1.4rem;
    font-weight: border;
    color: white;
}

.text {
    font-size: 1.2rem
}

.text span {
    font-weight: bolder;
    color: white
}

.price {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: white
}

/*COUNTDOWN*/
.flex-countdown {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background-color: black;
    border-radius: 4px;
    color: white;
}

.flex-countdown div {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.flex-countdown div h3 {
    margin-bottom: -0.1rem;
    text-align: center;
}

.flex-countdown div span {
    margin-left: -0.2rem;
    text-align: center;
    align-items: center;
}

/*----------------------------COUNTDOWN END--------------------------*/


/*------------------------------------------------------------------*/
/*----------------------------START NAVBAR--------------------------*/
/*------------------------------------------------------------------*/

.nav-header {
    position: fixed;
    top: 0;
    color: black;
    margin-top: -1rem;
    width: 100vw;
    background-color: rgb(37, 36, 36);
    color: white;
    border-bottom: 3px solid rgb(37, 36, 36);
    
}

.logo {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 5rem;
    text-align: center;

}

.header-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.link-flex {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    margin-right: 5rem
}

.link-flex a {
    color: rgb(217, 209, 209);
    font-size: 2.2rem;
}

.link-flex a:hover {
    color: white;
    transition: all 0.5s linear
}

.button {
    background-color: rgb(37, 36, 36);
    color: rgb(217, 209, 209);
    border: none;
    font-size: 2.2rem;
    display: none;
    margin-right: 0.1rem;
}


.search {
    padding: 1rem 0;
    border-radius: 4px;
    background-color: rgb(217, 209, 209);
    width: 80%;
}

.flex-search {
    display: flex;
    align-items: center;
    font-size: 3rem;
    gap: .7rem;
    text-align: right;
    color: rgb(217, 209, 209);
    width: 100vw;
    justify-content: center;
}

.flex-navbar-two {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1.5rem;
    background-color: rgb(217, 209, 209);
    color: rgb(37, 36, 36);
    justify-content: center;
}

.flex-navbar-two p {
    font-size: 1.7rem;
    font-weight: bolder;
}

.flex-literatura {
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-size: 2rem;

}

.flex-literatura a {
    text-decoration: none;
    color: rgb(76, 75, 75);
    transition: all 0.3s linear
}

.flex-literatura a:hover {
    color: black;

}

.lupa-flex {
    display: none;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    justify-content: center;
    margin-right: 0.5rem;
}

.fa-magnifying-glass{
    cursor: pointer;
}


@media(max-width: 900px) {
    .lupa-flex {
        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 1px;
        justify-content: center;
        margin-right: 0.5rem;
        padding-bottom: 1rem;
    }
    .fa-magnifying-glass{
        margin-left: -3rem;
    }

    .lupa {
        display: flex;
        width: 70vw;
        padding: 1rem 0;
        background-color: rgb(217, 209, 209);
        border-radius: 4px;
    }

    .logo {
        font-size: 1.2rem;
        margin-left: -5rem;

    }

    .flex-navbar-two {
        overflow: hidden;
        height: 0px;
        justify-content: flex-start;
        margin-left: -4rem;
        transition: all 0.5s linear;
    }

    .expand {
        height: 20rem;
        background-color: rgb(37, 36, 36);
        transition: all 0.5s linear;
    }

    .flex-literatura {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        transition: all 0.3s linear
    }

    .flex-literatura a {
        color: rgb(217, 209, 209);
        font-weight: bolder;
    }

    .flex-literatura a:hover {
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }

    .header-center {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
        padding-bottom: 1rem;
    }

    .button {
        display: flex;
        justify-content: flex-end;
        transition: all 0.3s linear;
        cursor: pointer;
        margin-right: 1.3rem;
    }

    .button:hover {
        transform: rotate(180deg)
    }

    .flex-search {
        display: none;
    }

    .link-flex {
        display: flex;
        width: 80vw;
        justify-content: flex-end;
    }

}


/*------------------------------------------------------------------*/
/*----------------------------START MAIN----------------------------*/
/*------------------------------------------------------------------*/


.flex-container-books{
    margin: 20rem auto;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: center;
    row-gap:3rem;
    column-gap: 1rem;
    width: 98vw;
}

.flex-book{
    display: flex;
    flex-direction: column;
    width:20rem;
    height: 45rem;
    align-items: center;
    text-align: start;
    border: rgb(76, 75, 75, 0.1) solid 1px;
}

.flex-content-promotion-book{
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 5rem  3rem 3rem 3rem 1.6rem;
    font-size: 1.3rem;
    color:rgb(76, 75, 75)
}

.flex-content-book{
    font-size: 1rem;
    display: grid;
    width: 15rem;
    grid-template-rows: 8rem 3rem 5rem 5rem 5rem;
    font-size: 1.3rem;
    color:rgb(76, 75, 75)
}
.promotion{
    background: green;
    color:white;
    text-align: center;
}


.flex-book p:nth-child(1){
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book span {
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}

#book-promotion{
    border: 3px solid black;
    width: 20.1rem
}

#book-promotion p:nth-child(2){
    font-size: 1.5rem;
    font-weight: bolder;
}

.flex-book button {
  width:15rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  background-color:rgb(76, 75, 75);
  color:white
}


#old-price{
    font-size: 1.3rem;
    color:rgb(76, 75, 75);
    text-decoration: line-through;
}


.flex-book img {
    width:15rem;
    height: 20rem;
    background-color: rgb(250, 249, 248);
    padding: 0 2.5rem
}


@media screen and (max-width:450px){
    .flex-container-books{
        grid-template-columns: repeat(1, 4rem);
        justify-content: flex-start;
        border: rgb(76, 75, 75, 0.1) solid 1px;
    }

    .flex-book{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: rgb(76, 75, 75, 0.1) solid 1px;
        width:99vw;
        height:15.5rem;
        gap:1rem
    }

    .flex-content-book{
      display: grid;
      justify-content: center;
      height: 16rem;
      grid-template-rows: 7rem 5.5rem
    }

    .flex-book img {
        width:8rem;
        height: 13rem;
        background-color: rgb(250, 249, 248);
        padding: 0 1.5rem
    }

    .flex-book p:nth-child(2){
        display: none;
    }
    .flex-book p:nth-child(3){
        display: none;
    }

    .flex-content-promotion-book{
        display: grid;
        grid-template-rows: 5rem 1rem 1rem;
        margin-top:-1rem
    }

    #book-promotion{
        border: 3px solid black;
        width: 98vw;
    }

    #book-promotion p:nth-child(2){
        display: block;
        margin-top: -1rem;
    }

    #book-promotion p:nth-child(3){
        display: none;
    }
    #book-promotion p:nth-child(4){
        display: none;
    }
}